@model ProductsIndexViewModel

@{
    ViewData["Title"] = "Products";
}

<div class="container mt-5">
    @foreach(var product in Model.Products) 
    {
        <div class="card mb-5">
            <div class="card-body">
                <div class="d-flex justify-content-start align-items-center">
                    <img src="images/products/@product.ImgUrl" alt="@product.Name" height="50" width="50" />
                    <div class="ms-2">
                        <div>@product.Id</div>
                        <div>@product.Name</div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>