@model ProductRegistrationViewModel
@{ ViewData["Title"] = "Register a new product"; }

<div class="d-flex justify-content-center">
    <div class="col-6">
        <form  method="post" enctype="multipart/form-data" novalidate>

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="mb-3">
                <label asp-for="Name" class="form-label"></label>
                <input asp-for="Name" class="form-control" />
                <small><span asp-validation-for="Name" class="text-danger"></span></small>
            </div>

            <div class="mb-3">
                <label asp-for="Price" class="form-label"></label>
                <input asp-for="Price" class="form-control" />
                <small><span asp-validation-for="Price" class="text-danger"></span></small>
            </div>

            <div class="mb-3">
                <label asp-for="Description" class="form-label"></label>
                <textarea asp-for="Description" class="form-control" rows="4"></textarea>
                <small><span asp-validation-for="Description" class="text-danger"></span></small>
            </div>

            <div>
                <label asp-for="Picture" class="form-label" for="myfile">Select a file:</label>
                <input asp-for="Picture" class="form-control" type="file" id="myfile" name="myfile">
            </div>

            <div class="d-grid mt-2">
                <button type="submit" class="btn-theme">CREATE</button>
            </div>

        </form>
    </div>
</div>