@model SpecificProductViewModel

<section class="showcase-specific">
    <div class="container">
        <div class="info-showcase">
            <h1>SHOP</h1>
            <p>HOME. PRODUCT DETAILS.</p>
        </div>
    </div>
</section>

<section class="specific-item">
    <div class="container">
        <div class="item-pics">
            <div class="big-picture">
                <a href="#">
                    <img src="/images/products/@Model.Product.ImgUrl" alt="">
                </a>
            </div>
            <div class="small-pics-grid">
                <partial name="/Views/Partials/SpecificItem/_SmallPicture.cshtml" />
                <partial name="/Views/Partials/SpecificItem/_SmallPicture.cshtml" />
                <partial name="/Views/Partials/SpecificItem/_SmallPicture.cshtml" />
                <partial name="/Views/Partials/SpecificItem/_SmallPicture.cshtml" />
            </div>
        </div>
        <partial name="/Views/Partials/SpecificItem/_ShortInformation.cshtml" model="@Model.Product" />
    </div>
</section>

<section class="expanded-info">
    <div class="container">
        <nav class="item-categories">
            <button class="btn-white">DESCRIPTION</button>
            <button class="btn-white">ADDITIONAL INFO</button>
            <button class="btn-white">REVIEWS (0)</button>
            <button class="btn-white">SHIPPING & DELIVERY</button>
        </nav>
        <div class="expanded-item-info">
            <h5>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie.</h5>
            <div class="infoand-pic">
                <div class="info-p">
                    <p class="first-p">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et cusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata santus est Lorem ipsum dolor sit amet. Lorem ipsum dolor.</p>
                    <p class="second-p">accusantium laborum pretium hic excepturi harum repellat facilisis convallis potenti, adipiscing lectus aliqua. Asperiores repudiandae ipsam error erat, accusamus, cum taciti unde?</p>
                    <p class="third-p">Praesentium, pariatur, tempora consequuntur purus sapiente, iaculis vitae consequatur, rhoncus earum eleifend, hendrerit ipsum rhoncus ex error, impedit! Alias laboris sequi curae aptent? Eu sagittis eu, distinctio tortor? Dapibus delectus! Consequuntur luctus. </p>
                    <p class="fourth-p">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et cusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata santus est Lorem ipsum dolor sit amet. Lorem ipsum dolor.</p>
                </div>
                <div class="img-closeup">
                    <img src="/images/product/@Model.Product.ImgUrl" alt="closeup item">
                </div>
            </div>
        </div>
    </div>
</section>


<partial name="/Views/Partials/FirstPage/_GridCollection.cshtml" model="@Model.RelatedProducts" />
<partial name="/Views/Partials/FirstPage/_GridCollection.cshtml" model="@Model.FeaturedProducts" />