
@{
    ViewData["Title"] = "Admin - Dashboard";
}

<section class="showcase-specific">
    <div class="container">
        <div class="info-showcase">
            <h1>BACKOFFICE.</h1>
            <p>HOME. MY ACCOUNT.</p>
        </div>
    </div>
</section>

<div class="admin-page">
    <nav class="nav-section">
        <a class="admin-link" asp-controller="Admin" asp-action="Employees">SHOW EMPLOYEES</a>
        <a class="admin-link" asp-controller="Products" asp-action="Register">REGISTER A PRODUCT</a>
        <a class="admin-link" asp-controller="Products" asp-action="RegisterCategory">REGISTER CATEGORY</a>
    </nav>
</div>

