@model ProductEntity

<div class="item-info">
    <div class="title">@Model.Name</div>
    <div class="info-item">@Model.Description</div>
    <div class="reviews">16 Reviews</div>
    <div class="price">@Model.Price</div>
    <div class="add-amount">
        <div class="amount">
            <button class="btn-white"><i class="fa-light fa-plus"></i></button>
            <label class="current-amount">2</label>
            <button class="btn-white"><i class="fa-light fa-minus"></i></button>
        </div>
        <button class="btn-theme">Add to Cart<i class="tocart fa-regular fa-cart-plus"></i></button>
    </div>
    <div class="colours">SKU: N/A</div>
    <button class="btn-white">Add to Wishlist</button>
    <div class="category">@Model.Category</div>
</div>