.copyright {
    background-color: $color-dark-1;
    height: 95px;

    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;

        h1 {
            font-size: 16px;
            color: $color-dark-3;
        }
    }
}