.register-section {
    margin-top: 50px;
    margin-bottom: 100px;

    .container {
        font-family: $font-roboto;

        h {
            border-bottom: 2px solid $color-dark-5;
            font-size: 20px;
        }

        form {
            margin-top: 20px;

            @include lg {
                display: grid;
                grid-template-columns: 1fr 1fr;
                column-gap: 50px;
            }
            
            .wide-fit {
                grid-column: 1 / -1;
            }

            .input-section {
                margin-top: 30px;
                width: 100%;

                label {
                    margin-bottom: 0;
                }

                input {
                    width: 100%;
                    border-radius: 6px;
                    background-color: #FAFAFA;
                    border: none;
                }
            }

            .checkbox-terms {
                margin-top: 30px;
                width: 100%;
                display: flex;
                margin-bottom: 30px;
                column-gap: 10px;
            }

            .btn-theme {
                width: 100%;

                @include lg {
                    width: 20%;
                }
            }
        }
    }
}