<section class="contact-us-section">
    <div class="container">
        <h>Contact Us</h>
        <form>
            <div class="input-section-grid">
                <div class="input-section">
                    <p>Your Name</p>
                    <input id="name" type="text">
                </div>
                <div class="input-section">
                    <p>Your Email</p>
                    <input id="email" type="text">
                </div>
                <div class="input-section">
                    <p>Phone Number</p>
                    <input id="number" type="text">
                </div>
                <div class="input-section">
                    <p>Company (optional)</p>
                    <input id="company" type="text">
                </div>
            </div>
            <div class="textarea-comment">
                <p>Comment</p>
                <textarea id="comment" type="text"></textarea>
            </div>
            <div class="checkbox-email">
                <input type="checkbox">
                <p>Save my name, email, and website in this browser for the next time I comment.</p>
            </div>
            <button class="btn-theme">SUBMIT</button>
        </form>
    </div>
</section>