@model ContactUsViewModel
@{
    ViewData["Title"] = "Contact Us";
}

<section class="contact-us-section">
    <div class="container">
        <h>Contact Us</h>
        <form method="post" novalidate>
            <div class="input-section-grid">

                <div class="input-section">
                    <label asp-for="Name">Your Name</label>
                    <input asp-for="Name" id="first-name-input" type="text">
                    <small class="text-danger"><span asp-validation-for="Name"></span></small>
                </div>

                <div class="input-section">
                    <label asp-for="Email">Your Email</label>
                    <input asp-for="Email" id="email-input" type="text">
                    <small class="text-danger"><span asp-validation-for="Email"></span></small>
                </div>

                <div class="input-section">
                    <label asp-for="Phone">Phone Number</label>
                    <input asp-for="Phone" id="phone-input" type="text">
                    <small class="text-danger"><span asp-validation-for="Phone"></span></small>
                </div>

                <div class="input-section">
                    <label asp-for="Company">Company (optional)</label>
                    <input asp-for="Company" id="company" type="text">
                </div>
            </div>

            <div class="textarea-comment">
                <label asp-for="Comment">Comment</label>
                <textarea asp-for="Comment" id="name-input" type="text"></textarea>
                <small class="text-danger"><span asp-validation-for="Comment"></span></small>
            </div>

            <div class="checkbox-email">
                <input type="checkbox">
                <p>Save my name, email, and website in this browser for the next time I comment.</p>
            </div>

            <button type="submit" class="btn-theme">SUBMIT</button>

        </form>
    </div>
</section>