@*@model GridCollectionItemViewModel
@{
    ViewData["Title"] = "Specifics";
}

<a asp-controller="Products" asp-action="SpecificItem" class="collection-item">
    <img src="images/placeholders/270x295.svg" alt="">
    <div class="body">
        <div class="info">
            <div class="title">@products.Name</div>
            <div class="price">@products.Price</div>
        </div>
        <i class="tocart fa-regular fa-cart-plus"></i>
    </div>
</a>*@