<div class="topselling-end-item">
    <a asp-controller="Products" asp-action="SpecificItem">
        <img src="images/placeholders/369x310.svg" alt="test">
        <div class="body">
            <div class="title">Table lamp 1562 LTG modal</div>
            <div class="small-info">Best dress for everyone ed totam velit risus viverra nobis donec recusandae perspiciatis incididuno</div>
            <div class="comments-posted">
                <p>Post by: Admin</p>
                <p>Comments 13</p>
            </div>
        </div>
    </a>
</div>