<a asp-controller="Products" asp-action="SpecificItem"  class="collection-item">
    <img src="images/placeholders/369x310.svg" alt="">
    <div class="body">
        <div class="info">
            <div class="title">Apple watch collection</div>
            <div class="price">$30.00</div>
        </div>
        <i class="tocart fa-regular fa-cart-plus"></i>
    </div>
</a>