@{
    ViewData["Title"] = User.FindFirst("DisplayName")?.Value;
}

<header>
    <div class="container">
        <nav id="menu" class="menu-links">
            <h1>Hi @User.FindFirst("DisplayName")?.Value</h1>
        </nav>
    </div>
</header>