<header>
    <div class="container">
        <nav id="menu" class="menu-links">
            <a class="link" asp-controller="Account" asp-action="Register">REGISTER</a>
            <a class="link" asp-controller="Account" asp-action="Login">LOGIN</a>
        </nav>
    </div>
</header>