@model LoginViewModel
@{
    ViewData["Title"] = "Login";
}

<form method="post" novalidate>

    <div asp-validation-summary="ModelOnly" class="text-danger"></div> @*skriver ut felmeddelande om det behövs*@

    <div class="input-section wide-fit">
        <label asp-for="Email">Email</label>
        <input asp-for="Email" id="email">
        <small><span asp-validation-for="Email" class="text-danger"></span></small>
    </div>
    <div class="input-section wide-fit">
        <label asp-for="Password">Password</label>
        <input asp-for="Password" id="password">
        <small><span asp-validation-for="Password" class="text-danger"></span></small>
    </div>
    <button type="submit" class="btn-theme wide-fit">LOGIN</button>
</form>