@model LoginViewModel
@{
    ViewData["Title"] = "Login";
}


<div class="container mt-5">
    <div class="d-flex justify-content-center">

        <form method="post" class="col-10 col-xl-6">

            <div asp-validation-summary="ModelOnly"></div>

            <div class="mb-3">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" class="form-control" />
                <small class="text-danger"><span asp-validation-for="Email"></span></small>
            </div>
            <div class="mb-3">
                <label asp-for="Password" class="form-label"></label>
                <input asp-for="Password" class="form-control" />
                <small class="text-danger"><span asp-validation-for="Password"></span></small>
            </div>
            <div class="mt-5">
                <div class="d-grid">
                    <button class="btn-theme">LOGIN</button>
                    <button class="mt-5 btn-theme" asp-controller="Account" asp-action="Register">REGISTER</button>
                </div>
            </div>
        </form>

        
    </div>
</div>

@*<form method="post" novalidate>

    <div asp-validation-summary="ModelOnly" class="text-danger"></div> *@@*skriver ut felmeddelande om det behövs*@

    @*<div class="input-section wide-fit">
        <label asp-for="Email">Email</label>
        <input asp-for="Email" id="email">
        <small><span asp-validation-for="Email" class="text-danger"></span></small>
    </div>
    <div class="input-section wide-fit">
        <label asp-for="Password">Password</label>
        <input asp-for="Password" id="password">
        <small><span asp-validation-for="Password" class="text-danger"></span></small>
    </div>
    <button type="submit" class="btn-theme wide-fit">LOGIN</button>
</form>*@