@model RegisterViewModel
@{
    ViewData["Title"] = "Register a new account";
}

<section class="register-section">
    <div class="container">
        <h>Please Register Your New Account</h>
        <partial name="/Views/Partials/Forms/_RegisterAccountForm.cshtml" />
    </div>
</section>