@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700;900&family=Poppins:wght@300;400;500;600;700;900&family=Roboto:wght@300;400;500;700;900&display=swap");
html, body {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #636363;
}

a {
  text-decoration: none;
  color: #FA3150;
}
a:hover {
  text-decoration: underline;
  color: #FA3150;
}

.validation-summary-errors {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.validation-summary-errors ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  padding: 8px 30px;
  font-family: "Poppins", sans-serif;
  border: 1px solid #000000;
  background-color: transparent;
  color: #000000;
  transition: all 0.2s;
  text-decoration: none;
}
button:hover {
  background-color: #000000;
  color: #FFFFFF;
}

.btn-white {
  border: none;
  background-color: #FFFFFF;
  color: #292929;
  border: 1px solid #292929;
  text-decoration: none;
}

.btn-theme {
  cursor: pointer;
  border: none;
  padding: 10px 35px;
  background-color: #FA3150;
  color: #FFFFFF;
  text-decoration: none;
  transition: all 0.25s ease-in-out;
}
.btn-theme:hover {
  border: 1px solid #292929;
  background-color: #292929;
  color: #FFFFFF;
}

.hide {
  display: none;
}

.btn-toggle {
  font-family: "Poppins", sans-serif;
  font-size: 1.8em;
  padding: 0 !important;
  background-color: transparent;
  border: none !important;
  text-decoration: none;
}
.btn-toggle:hover {
  color: #000000 !important;
  background-color: transparent !important;
}

.btn-toggle-white {
  font-family: "Poppins", sans-serif;
  font-size: 1.8em;
  padding: 0 !important;
  background-color: transparent;
  border: none !important;
  text-decoration: none;
}
.btn-toggle-white:hover {
  color: #636363 !important;
  background-color: transparent !important;
}

.btn-outline-white {
  font-family: "Poppins", sans-serif;
  padding: 10px 25px;
  border: 1px solid #636363;
  background-color: #FFFFFF;
  color: #636363;
  transition: all 0.25s ease-in-out;
  text-decoration: none;
}
.btn-outline-white:hover {
  border: 1px solid #292929;
  background-color: #292929;
  color: #FFFFFF;
}

.btn-outline-dark {
  font-family: "Poppins", sans-serif;
  padding: 10px 25px;
  border: 0px solid #FFFFFF;
  background-color: transparent;
  color: #FFFFFF;
  transition: all 0.25s ease-in-out;
  text-decoration: none;
}
.btn-outline-dark:hover {
  border: 0px solid #292929;
  background-color: transparent;
  color: #FFFFFF;
}

.open-menu {
  width: 100vw !important;
  opacity: 0.99;
  transform: translateX(-100%);
}

.btn-rounded {
  border-radius: 25px;
}

.btn-rounded-1 {
  border-radius: 10px;
}

.invalid {
  border: 1px solid #FA3150 !important;
}

.position-static {
  position: static;
}

.position-fixed-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

header {
  padding: 15px 0;
  z-index: 1;
}
@media (min-width: 992px) {
  header {
    padding: 30px 0;
  }
}
header .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "logo toggle";
}
@media (min-width: 992px) {
  header .container {
    grid-template-columns: 4fr 4fr;
    grid-template-areas: "logo menulinks";
  }
}
@media (min-width: 1200px) {
  header .container {
    grid-template-columns: 3fr 4fr 2fr;
    grid-template-areas: "logo menulinks menuicons";
  }
}
header .logo {
  grid-area: logo;
}
header .menu-links {
  grid-area: menulinks;
  background-color: #292929;
  padding-top: 80px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  width: 0vw;
  padding-top: 80px;
  transform: translateX(0%);
  transition: all 0.25s;
  font-size: 20px;
  overflow: hidden;
}
@media (min-width: 992px) {
  header .menu-links {
    position: static;
    width: 100%;
    font-size: 16px;
    padding: 0;
    background-color: transparent;
    color: #292929;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}
@media (min-width: 1200px) {
  header .menu-links {
    margin-right: 20px;
  }
}
header .menu-links .link {
  font-family: "Poppins", sans-serif;
  border: 1px solid #000000;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  padding: 20px 0;
  text-decoration: none;
  font-weight: 500;
}
header .menu-links .link:hover {
  background-color: #000000;
}
@media (min-width: 992px) {
  header .menu-links .link {
    color: #000000;
    border: none;
    padding: 0;
    margin: 0 0 0 30px;
    justify-content: right;
    font-size: 16px;
  }
  header .menu-links .link:hover {
    background-color: transparent;
    color: #FA3150;
  }
}
header .menu-links .link:hover {
  color: #FA3150;
}
header .menu-icons {
  grid-area: menuicons;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 20px;
  background-color: #292929;
  color: #FFFFFF;
}
@media (min-width: 1200px) {
  header .menu-icons {
    position: static;
    padding: 0;
    background-color: #FFFFFF;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}
header .menu-icons .link {
  font-family: "Poppins", sans-serif;
  color: #FFFFFF;
  text-decoration: none;
  margin: 20px;
  font-size: 18px;
}
header .menu-icons .link:hover {
  color: #AEAEAE;
}
@media (min-width: 1200px) {
  header .menu-icons .link {
    position: static;
    color: #636363;
    margin: 0 0 0 25px;
    font-size: 18px;
  }
  header .menu-icons .link:hover {
    color: #FA3150;
  }
}
header .toggle {
  grid-area: toggle;
  position: relative;
  display: block;
  justify-content: end;
  text-align: right;
  z-index: 1;
}
@media (min-width: 992px) {
  header .toggle {
    display: none;
  }
}

.showcase {
  background-color: #F3F2F2;
  padding: 60px 0;
}
@media (min-width: 992px) {
  .showcase {
    padding: 0 0 60px 0;
  }
}
.showcase .container {
  display: block;
  text-align: center;
}
@media (min-width: 992px) {
  .showcase .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.showcase .content {
  font-family: "Poppins", sans-serif;
  color: #292929;
}
@media (min-width: 992px) {
  .showcase .content {
    flex: 2;
    text-align: left;
    padding-right: 20px;
  }
}
@media (min-width: 1200px) {
  .showcase .content {
    flex: 1;
    padding-right: 100px;
  }
}
.showcase .content .ingress {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
}
.showcase .content .title {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 20px;
}
@media (min-width: 992px) {
  .showcase .content .title {
    font-size: 60px;
    margin-bottom: 40px;
  }
}
.showcase .content-image {
  display: none;
}
@media (min-width: 992px) {
  .showcase .content-image {
    flex: 1;
    display: block;
  }
}
.showcase img {
  width: 100%;
  height: auto;
}

.grid-collection {
  padding: 40px 0;
}
.grid-collection .title {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 38px;
  color: #292929;
}
@media (min-width: 768px) {
  .grid-collection .title {
    font-size: 48px;
  }
}
.grid-collection .categories {
  display: none;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
@media (min-width: 992px) {
  .grid-collection .categories {
    display: flex;
  }
}
.grid-collection .categories .category-item {
  margin-right: 5px;
}
.grid-collection .categories .category-item + li::before {
  content: "/";
  margin-right: 5px;
}
.grid-collection .grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 40px;
}
@media (min-width: 768px) {
  .grid-collection .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 992px) {
  .grid-collection .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1200px) {
  .grid-collection .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
.grid-collection .load-more {
  margin-top: 40px;
  text-align: center;
}

.collection-item {
  background-color: #FFFFFF;
  text-decoration: none;
  display: block;
}
.collection-item img {
  width: 100%;
  height: auto;
}
.collection-item .body {
  color: #292929;
  font-family: "Poppins", sans-serif;
  padding: 10px;
}
.collection-item .body .title {
  grid-area: title;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
.collection-item .body .info {
  font-family: "Poppins", sans-serif;
  padding: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
}
.collection-item .body .info .price {
  grid-area: price;
  font-size: 16px;
  align-items: center;
}
.collection-item .body .info .add-cart {
  grid-area: cart;
  text-align: right;
  align-items: center;
  padding: 2px;
  font-size: 24px;
  color: #292929;
}
.collection-item .body .info .add-cart:hover {
  color: #AEAEAE;
}
.collection-item:hover {
  text-decoration: none;
}
@media (min-width: 1200px) {
  .collection-item .add-cart {
    display: none;
  }
  .collection-item:hover .add-cart {
    display: block;
  }
}

.up-to-sell {
  background-color: #FAEFEF;
  padding: 40px 0;
}
.up-to-sell .collection-grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 40px;
}
@media (min-width: 768px) {
  .up-to-sell .collection-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 992px) {
  .up-to-sell .collection-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
.up-to-sell .collection-grid .collection-content {
  display: flex;
  align-items: center;
  justify-content: center;
}
.up-to-sell .collection-grid .collection-content .container {
  text-align: center;
  padding: 40px;
}
.up-to-sell .collection-grid .collection-content .title-red {
  font-family: "Poppins", sans-serif;
  color: #FA3150;
  font-size: 18px;
  font-weight: 700;
}
.up-to-sell .collection-grid .collection-content .title {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 48px;
  color: #292929;
}
.up-to-sell .collection-grid .collection-content .ingress {
  font-family: "Poppins", sans-serif;
  color: #292929;
  font-size: 24px;
  font-weight: 700;
}
.up-to-sell .collection-grid .collection-content .text {
  margin-top: 20px;
  font-family: "Roboto", sans-serif;
  color: #636363;
  font-size: 16px;
  font-weight: 400;
}
.up-to-sell .collection-grid .collection-content .link {
  display: block;
  margin-top: 30px;
  color: #292929;
}

.top-selling .container-fluid {
  padding-left: 4rem;
  padding-right: 4rem;
}
.top-selling .collection-title {
  font-size: 30px;
}
.top-selling .collection-grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 40px;
}
@media (min-width: 768px) {
  .top-selling .collection-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 992px) {
  .top-selling .collection-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1200px) {
  .top-selling .collection-grid {
    grid-template-columns: repeat(7, 1fr);
  }
}
.top-selling .collection-grid .collection-item .body {
  display: flex;
  justify-content: space-between;
  align-items: end;
  color: #292929;
  margin-top: 10px;
  font-family: "Poppins", sans-serif;
  padding: 0 10px 10px 10px;
}
.top-selling .collection-grid .collection-item .body .info {
  padding: 2px;
}
.top-selling .collection-grid .collection-item .body .info .title {
  font-size: 16px;
  font-weight: 500;
}
.top-selling .collection-grid .collection-item .body .info .price {
  font-size: 12px;
}
.top-selling .collection-grid .collection-item .body .tocart {
  padding: 2px;
  font-size: 12px;
  color: #292929;
}
.top-selling .collection-grid .collection-item .body .tocart:hover {
  color: #AEAEAE;
}
.top-selling .load-more {
  margin-top: 40px;
  text-align: center;
}
.top-selling .load-more button {
  padding: 5px 10px;
}

.topselling-last-items {
  margin-bottom: 100px;
}
@media (min-width: 768px) {
  .topselling-last-items .container .topselling-pictures-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}
@media (min-width: 1200px) {
  .topselling-last-items .container .topselling-pictures-grid {
    margin: 100px;
    margin-top: 0px;
  }
}
.topselling-last-items .container .topselling-pictures-grid .topselling-end-item {
  width: 100%;
}
.topselling-last-items .container .topselling-pictures-grid .topselling-end-item img {
  width: 100%;
}
.topselling-last-items .container .topselling-pictures-grid .topselling-end-item .body {
  color: #000000;
  margin-top: 5px;
}
.topselling-last-items .container .topselling-pictures-grid .topselling-end-item .body .title {
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}
.topselling-last-items .container .topselling-pictures-grid .topselling-end-item .body .small-info {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
.topselling-last-items .container .topselling-pictures-grid .topselling-end-item .body .comments-posted {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
@media (min-width: 768px) {
  .topselling-last-items .container .topselling-pictures-grid .topselling-end-item .body .comments-posted {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
}
@media (min-width: 1200px) {
  .topselling-last-items .container .topselling-pictures-grid .topselling-end-item .body .comments-posted {
    grid-template-columns: repeat(3, 1fr);
  }
}
.topselling-last-items .container .topselling-pictures-grid .topselling-end-item .body .comments-posted p {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  color: #AEAEAE;
}

.subscribe {
  background-color: #CCCCCC;
  height: 150px;
}
@media (min-width: 992px) {
  .subscribe {
    height: 300px;
    padding: 70px 200px;
  }
}
@media (min-width: 768px) {
  .subscribe {
    padding: 70px 100px;
  }
}
.subscribe .container {
  display: flex;
  text-align: center;
  justify-content: center;
  height: 100%;
}
@media (min-width: 992px) {
  .subscribe .container {
    background-color: #FFFFFF;
    height: 100%;
  }
}
.subscribe .container .subscribe-content {
  margin-top: 30px;
  width: 100%;
}
@media (min-width: 1200px) {
  .subscribe .container .subscribe-content {
    margin-top: 0;
    display: flex;
    align-items: center;
  }
}
@media (min-width: 992px) {
  .subscribe .container .subscribe-content {
    margin-top: 0;
    display: flex;
    align-items: center;
  }
}
@media (min-width: 768px) {
  .subscribe .container .subscribe-content {
    margin-top: 0;
    display: flex;
    align-items: center;
  }
}
.subscribe .container .subscribe-content input {
  border: none;
  width: 300px;
  height: 40px;
  padding-left: 1rem;
  border-radius: 25px;
  font-size: 18px;
}
@media (min-width: 992px) {
  .subscribe .container .subscribe-content input {
    position: relative;
    border: 0.3px solid #AEAEAE;
    width: 600px;
  }
}
@media (min-width: 1200px) {
  .subscribe .container .subscribe-content input {
    position: relative;
    border: 0.3px solid #AEAEAE;
    width: 600px;
  }
}
@media (min-width: 768px) {
  .subscribe .container .subscribe-content input {
    position: relative;
    width: 600px;
  }
}
.subscribe .container .subscribe-content .btn-theme {
  margin-top: 10px;
  border-radius: 25px;
}
@media (min-width: 992px) {
  .subscribe .container .subscribe-content .btn-theme {
    margin-top: 0;
    position: absolute;
    right: 57%;
  }
}
@media (min-width: 1200px) {
  .subscribe .container .subscribe-content .btn-theme {
    margin-top: 0;
    position: absolute;
    right: 80%;
  }
}
@media (min-width: 768px) {
  .subscribe .container .subscribe-content .btn-theme {
    margin-top: 0;
    position: absolute;
    right: 11%;
  }
}

.copyright {
  background-color: #000000;
  height: 95px;
}
.copyright .container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.copyright .container h1 {
  font-size: 16px;
  color: #636363;
}

.showcase-specific {
  background-color: #CCCCCC;
  padding: 20px 20px;
}
@media (min-width: 768px) {
  .showcase-specific {
    padding: 50px 50px;
  }
}
@media (min-width: 992px) {
  .showcase-specific {
    padding: 70px 70px;
  }
}
@media (min-width: 1200px) {
  .showcase-specific {
    padding: 100px 100px;
  }
}
.showcase-specific .container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.showcase-specific .container .info-showcase h1 {
  font-weight: 600;
  color: #000000;
}
.showcase-specific .container .info-showcase p {
  font-weight: 300;
  color: #000000;
}

.specific-item {
  margin-top: 20px;
}
@media (min-width: 992px) {
  .specific-item .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
.specific-item .container .item-pics {
  margin-right: 20px;
}
.specific-item .container .item-pics .big-picture {
  width: 100%;
  height: 100%;
}
@media (min-width: 992px) {
  .specific-item .container .item-pics .big-picture {
    height: 78%;
  }
}
.specific-item .container .item-pics .big-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.specific-item .container .item-pics .small-pics-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
@media (min-width: 992px) {
  .specific-item .container .item-pics .small-pics-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
.specific-item .container .item-pics .small-pics-grid .small-picture {
  margin: 4px;
}
.specific-item .container .item-pics .small-pics-grid .small-picture img {
  width: 100%;
}
.specific-item .container .item-pics .small-pics-grid .small-picture:last-of-type {
  display: none;
}
@media (min-width: 992px) {
  .specific-item .container .item-pics .small-pics-grid .small-picture:last-of-type {
    display: inline;
  }
}
.specific-item .container .item-info {
  margin-left: 20px;
}
.specific-item .container .item-info .title {
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  margin-top: 10px;
}
.specific-item .container .item-info .info-item {
  margin-top: 10px;
  padding-bottom: 10px;
  border-bottom: 0.3px solid #CCCCCC;
}
.specific-item .container .item-info .reviews {
  margin-top: 10px;
}
.specific-item .container .item-info .price {
  margin-top: 10px;
  font-size: 20px;
  font-weight: 700;
}
.specific-item .container .item-info .add-amount {
  margin-top: 10px;
}
@media (min-width: 992px) {
  .specific-item .container .item-info .add-amount {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}
.specific-item .container .item-info .add-amount .amount .current-amount {
  margin-left: 10px;
  margin-right: 10px;
}
.specific-item .container .item-info .add-amount .btn-theme {
  margin-top: 10px;
}
@media (min-width: 992px) {
  .specific-item .container .item-info .add-amount .btn-theme {
    margin-top: 0;
  }
}
.specific-item .container .item-info .add-amount .btn-theme i {
  margin-left: 20px;
}
.specific-item .container .item-info .colours {
  margin-top: 10px;
}
.specific-item .container .item-info .btn-white {
  margin-top: 10px;
  border: 0.3px;
}
.specific-item .container .item-info .category {
  margin-top: 10px;
  border-bottom: 1px solid #CCCCCC;
  padding-bottom: 10px;
}

.expanded-info {
  margin-top: 30px;
}
.expanded-info .container .item-categories {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 15px;
  padding-left: 0px;
}
@media (min-width: 992px) {
  .expanded-info .container .item-categories {
    grid-template-columns: repeat(4, 1fr);
    gap: 0;
  }
}
.expanded-info .container .item-categories .btn-white {
  display: flex;
  align-items: center;
  justify-content: center;
}
.expanded-info .container .item-categories .btn-white:hover {
  background-color: #FA3150;
  color: #FFFFFF;
}
@media (min-width: 992px) {
  .expanded-info .container .item-categories .btn-white {
    border: 0.3px solid #CCCCCC;
    padding: 10px;
  }
}
.expanded-info .container .expanded-item-info h5 {
  margin-top: 35px;
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 24px;
  font-family: "Poppins", sans-serif;
}
@media (min-width: 992px) {
  .expanded-info .container .expanded-item-info .infoand-pic {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
}
.expanded-info .container .expanded-item-info .infoand-pic .info-p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
.expanded-info .container .expanded-item-info .infoand-pic .img-closeup {
  width: 100%;
  height: 100%;
}
@media (min-width: 992px) {
  .expanded-info .container .expanded-item-info .infoand-pic .img-closeup {
    height: 70%;
    width: 100%;
  }
}
.expanded-info .container .expanded-item-info .infoand-pic .img-closeup img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.collection .container {
  border-top: 0.3px solid #CCCCCC;
  padding-top: 20px;
}
.collection .container h {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
}

.end-products {
  background-color: #FAFAFA;
  margin-bottom: 40px;
}
@media (min-width: 992px) {
  .end-products {
    margin-top: 30px;
  }
}
.end-products .container {
  padding-top: 50px;
}
@media (min-width: 992px) {
  .end-products .container {
    padding-top: 50px;
  }
}
.end-products .container .collection-grid-end {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
@media (min-width: 992px) {
  .end-products .container .collection-grid-end {
    grid-template-columns: repeat(5, 1fr);
  }
}
.end-products .container .collection-grid-end .collection-end-pic {
  width: 100%;
}
.end-products .container .collection-grid-end .collection-end-pic:last-child {
  display: none;
}
@media (min-width: 992px) {
  .end-products .container .collection-grid-end .collection-end-pic:last-child {
    display: inline;
  }
}
.end-products .container .collection-grid-end .collection-end-pic img {
  width: 100%;
}

.contact-us-section {
  margin-top: 50px;
  margin-bottom: 100px;
}
.contact-us-section .container {
  font-family: "Roboto", sans-serif;
}
.contact-us-section .container h {
  border-bottom: 2px solid #CCCCCC;
  font-size: 20px;
}
.contact-us-section .container form {
  margin-top: 20px;
}
@media (min-width: 992px) {
  .contact-us-section .container form .input-section-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
  }
}
.contact-us-section .container form .input-section-grid .input-section {
  margin-top: 30px;
  width: 100%;
}
.contact-us-section .container form .input-section-grid .input-section p {
  margin-bottom: 0;
}
.contact-us-section .container form .input-section-grid .input-section input {
  width: 100%;
  border-radius: 6px;
  background-color: #FAFAFA;
  border: none;
}
.contact-us-section .container form .textarea-comment {
  margin-top: 30px;
  width: 100%;
}
.contact-us-section .container form .textarea-comment p {
  margin-bottom: 0;
}
.contact-us-section .container form .textarea-comment textarea {
  width: 100%;
  border-radius: 6px;
  background-color: #FAFAFA;
  border: none;
}
.contact-us-section .container form .checkbox-email {
  margin-top: 30px;
  width: 100%;
  display: flex;
  margin-bottom: 30px;
  column-gap: 10px;
}
.contact-us-section .container form .btn-theme {
  width: 100%;
}

.map {
  width: 100%;
  height: 300px;
}
@media (min-width: 1200px) {
  .map {
    height: 400px;
  }
}
.map .google-map {
  width: 100%;
  height: 100%;
}

.register-section {
  margin-top: 50px;
  margin-bottom: 100px;
}
.register-section .container {
  font-family: "Roboto", sans-serif;
}
.register-section .container h {
  border-bottom: 2px solid #CCCCCC;
  font-size: 20px;
}
.register-section .container form {
  margin-top: 20px;
}
@media (min-width: 992px) {
  .register-section .container form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
  }
}
.register-section .container form .wide-fit {
  grid-column: 1/-1;
}
.register-section .container form .input-section {
  margin-top: 30px;
  width: 100%;
}
.register-section .container form .input-section label {
  margin-bottom: 0;
}
.register-section .container form .input-section input {
  width: 100%;
  border-radius: 6px;
  background-color: #FAFAFA;
  border: none;
}
.register-section .container form .checkbox-terms {
  margin-top: 30px;
  width: 100%;
  display: flex;
  margin-bottom: 30px;
  column-gap: 10px;
}
.register-section .container form .btn-theme {
  width: 100%;
}
@media (min-width: 992px) {
  .register-section .container form .btn-theme {
    width: 20%;
  }
}

.h1 {
  display: flex;
  justify-content: start;
  align-items: start;
  font-family: "Roboto", sans-serif;
}

.accountHomePage {
  margin: 0;
}
.accountHomePage .container {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.accountHomePage .container .accountMenu .account-menu-links {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
}
.accountHomePage .container .accountMenu .account-menu-links .accountLink {
  text-decoration: none;
  font-size: 16px;
  margin: 20px;
  color: black;
}
.accountHomePage .container .accountMenu .account-menu-links .accountLink:hover {
  font-weight: 700;
}
.accountHomePage .container .userInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.accountHomePage .container .userInfo .current-points {
  font-size: 24px;
  width: 270px;
  font-weight: 600;
  margin-bottom: 20px;
}
.accountHomePage .container .userInfo .scan-in-store {
  margin-top: 20px;
  font-size: 14px;
  color: black;
}

.admin-page .nav-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.admin-page .nav-section .admin-link {
  text-decoration: none;
  color: black;
  font-size: 20px;
  margin: 20px;
}
.admin-page .nav-section .admin-link:hover {
  font-weight: 700;
}
